---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "Contact us";
const subTitle: string =
  "Have questions or want to discuss a project? Please fill out the form below and I'll be in touch. If you'd prefer to email me directly, you can do so at <a class=\"text-safety_orange\" href='mailto:tony@cascadecarto.org'>tony@cascadecarto.org</a>.";
const formTitle: string = "Fill in the form below";
const formSubTitle: string = "We'll get back to you in 1-2 business days.";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="max-w-1xl mx-auto lg:max-w-2xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        <Fragment set:html={title} />
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        <Fragment set:html={subTitle} />
      </p>
    </div>

    <div class="items-center gap-6 lg:gap-16">
      <div class="h-[1352px] rounded-xl p-4 text-center sm:p-6 lg:p-8">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSdjvxpjOJni9nZblfhI7slpNjlIYr3oKOJ-WyJvrkkaFNvG4w/viewform?embedded=true"
          width="100%"
          height="1352"
          frameborder="0"
          marginheight="0"
          marginwidth="0">Loading Contact Form…</iframe
        >
      </div>
    </div>
  </div>
</section>
